<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.belmiro.bubbleshooter" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bubble Shooter</name>
    <description>
        bubble shooter game
    </description>
    <author email="jeferson.belmiro@gmail.com" href="http://jefersonbelmiro.com.br">
        bubble shooter team
    </author>
    <gap:plugin name="org.crosswalk.engine" version="1.3.0" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="false" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
    </platform>
</widget>
