<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.belmiro.bubbleshooter" version="0.0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bubble Shooter</name>
    <description>
        bubble shooter game
    </description>
    <author email="jeferson.belmiro@gmail.com" href="http://jefersonbelmiro.com.br">
        bubble shooter team
    </author>

    <content src="index.html" />

    <access origin="*" />

    <gap:plugin name="org.crosswalk.engine" version="1.3.0" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
    </platform>
</widget>
